.card {
  background: var(--info);
  margin: 0 0 var(--gutter) var(--gutter);
  padding: var(--gutter);
  position: relative;
}

/* The left hand edge */
.card::before {
  background: var(--info);
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0.8;
  position: absolute;
  top: 0;
  transform: translate(-100%, 0) skew(0, -45deg);
  transform-origin: 100% 0;
  width: var(--gutter);
}

/* The bottom edge */
.card::after {
  background: var(--info);
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0.6;
  position: absolute;
  right: 0;
  transform: translate(0, 100%) skew(-45deg, 0);
  transform-origin: 0 0;
  height: var(--gutter);
}
