.card {
  background: hsl(var(--info), var(--light-default));
  color: var(--txt-contrast);
  margin: 0 0 calc(var(--gutter) * 2) var(--gutter);
  padding: var(--gutter);
  position: relative;
}

.card::before, .card::after {
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
}

/* The left hand edge */
.card::before {
  background: hsl(var(--info), var(--light-shadow1));
  top: 0;
  transform: translate(-100%, 0) skew(0, -45deg);
  transform-origin: 100% 0;
  width: var(--gutter);
}

/* The bottom edge */
.card::after {
  background: hsl(var(--info), var(--light-shadow2));
  right: 0;
  transform: translate(0, 100%) skew(-45deg, 0);
  transform-origin: 0 0;
  height: var(--gutter);
}

/* Colour variation - "info" is the default */
.card--warning { background: hsl(var(--warning), var(--light-default)); }
.card--warning::before { background: hsl(var(--warning), var(--light-shadow1)); }
.card--warning::after { background: hsl(var(--warning), var(--light-shadow2)); }

.card--progress { background: hsl(var(--progress), var(--light-default)); }
.card--progress::before { background: hsl(var(--progress), var(--light-shadow1)); }
.card--progress::after { background: hsl(var(--progress), var(--light-shadow2)); }

.card--primary { background: hsl(var(--primary), var(--light-default)); }
.card--primary::before { background: hsl(var(--primary), var(--light-shadow1)); }
.card--primary::after { background: hsl(var(--primary), var(--light-shadow2)); }

.card--complete { background: hsl(var(--complete), var(--light-default)); }
.card--complete::before { background: hsl(var(--complete), var(--light-shadow1)); }
.card--complete::after { background: hsl(var(--complete), var(--light-shadow2)); }
