/* This doughnut chart can display no more than 20 different values */
.pie {
  --barColour1: Crimson;
  --barColour2: DarkRed;
  --barColour3: FireBrick;
  --barColour4: IndianRed;
  --barColour5: LightCoral;
  --barColour6: Maroon;
  --barColour7: Brown;
  --barColour8: Chocolate;
  --barColour9: Coral;
  --barColour10: DarkMagenta;
  --barColour11: DarkOrange;
  --barColour12: DarkOrchid;
  --barColour13: DarkSalmon;
  --barColour14: DarkViolet;
  --barColour15: DeepPink;
  --barColour16: Fuchsia;
  --barColour17: HotPink;
  --barColour18: LightPink;
  --barColour19: LightSalmon;
  --barColour20: MediumOrchid;
}

.pie p {
  align-items: center;
  aspect-ratio: 1;
  background:
    conic-gradient(var(--bg-body) 0, var(--bg-body) 0) padding-box,
    conic-gradient(
      var(--barColour1) var(--value1),
      var(--barColour2, transparent) var(--value1) var(--value2, 100%),
      var(--barColour3, transparent) var(--value2, 100%) var(--value3, 100%),
      var(--barColour4, transparent) var(--value3, 100%) var(--value4, 100%),
      var(--barColour5, transparent) var(--value4, 100%) var(--value5, 100%),
      var(--barColour6, transparent) var(--value5, 100%) var(--value6, 100%),
      var(--barColour7, transparent) var(--value6, 100%) var(--value7, 100%),
      var(--barColour8, transparent) var(--value7, 100%) var(--value8, 100%),
      var(--barColour9, transparent) var(--value8, 100%) var(--value9, 100%),
      var(--barColour10, transparent) var(--value9, 100%) var(--value10, 100%),
      var(--barColour11, transparent) var(--value10, 100%) var(--value11, 100%),
      var(--barColour12, transparent) var(--value11, 100%) var(--value12, 100%),
      var(--barColour13, transparent) var(--value12, 100%) var(--value13, 100%),
      var(--barColour14, transparent) var(--value13, 100%) var(--value14, 100%),
      var(--barColour15, transparent) var(--value14, 100%) var(--value15, 100%),
      var(--barColour16, transparent) var(--value15, 100%) var(--value16, 100%),
      var(--barColour17, transparent) var(--value16, 100%) var(--value17, 100%),
      var(--barColour18, transparent) var(--value17, 100%) var(--value18, 100%),
      var(--barColour19, transparent) var(--value18, 100%) var(--value19, 100%),
      var(--barColour20, transparent) var(--value19, 100%) var(--value20, 100%),
      transparent var(--value20, 100%) 100%
    ) border-box;
  /* This transparent border represents the width of the doughnut*/
  border: solid 1em transparent;
  border-radius: 50%;
  display: flex;
  font-weight: bold;
  justify-content: center;
  margin: 1em;
  padding: 1em;
  text-align: center;
}

.pieChoice p {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* The key which explains the colours */
.key {
  display: table;
}
.key::before {
  content: attr(aria-label);
  display: block;
  font-weight: bold;
}

.key dl {
  display: table-row;
}

.key dt, .key dd {
  display: table-cell;
}

.key dt {
  padding: 0 0.5rem;
  text-align: right;
}

.key dt strong {
  background: var(--bg-body);
  padding: 0.2rem 0.5rem;
}

.key dd {
  padding: 0.2rem 0.5rem;
  text-align: left;
}

.key dl:nth-child(1) dt { background: var(--barColour1);}
.key dl:nth-child(2) dt { background: var(--barColour2);}
.key dl:nth-child(3) dt { background: var(--barColour3);}
.key dl:nth-child(4) dt { background: var(--barColour4);}
.key dl:nth-child(5) dt { background: var(--barColour5);}
.key dl:nth-child(6) dt { background: var(--barColour6);}
.key dl:nth-child(7) dt { background: var(--barColour7);}
.key dl:nth-child(8) dt { background: var(--barColour8);}
.key dl:nth-child(9) dt { background: var(--barColour9);}
.key dl:nth-child(10) dt { background: var(--barColour10);}
.key dl:nth-child(11) dt { background: var(--barColour11);}
.key dl:nth-child(12) dt { background: var(--barColour12);}
.key dl:nth-child(13) dt { background: var(--barColour13);}
.key dl:nth-child(14) dt { background: var(--barColour14);}
.key dl:nth-child(15) dt { background: var(--barColour15);}
.key dl:nth-child(16) dt { background: var(--barColour16);}
.key dl:nth-child(17) dt { background: var(--barColour17);}
.key dl:nth-child(18) dt { background: var(--barColour18);}
.key dl:nth-child(19) dt { background: var(--barColour19);}
.key dl:nth-child(20) dt { background: var(--barColour20);}