:root {
  --bg-body: #242424;
  --txt-body: #eee;
  --txt-contrast: #111;
  --gutter: 1rem;
  --keyline-width: 2px;
  --iso-shadow: calc(var(--gutter) * -1) var(--gutter) 0;

  /* Colours in HLS format, but without the lightness value */
  --warning:  358, 60%;
  --progress: 44, 100%;
  --complete: 83, 68.2%;
  --info:     203, 77.38%;
  --primary:  265, 31.84%;

  /* These are used with the above colours to create the isometric boxes */
  --light-default: 55%;
  --light-shadow1: 40%;
  --light-shadow2: 30%;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--txt-body);
  background-color: var(--bg-body);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *::before, *::after {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2, caption, figcaption, legend {
  font-size: 2em;
  font-weight: bold;
  line-height: 1.1;
  margin: 0 auto var(--gutter);
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-body: #eee;
    --txt-body: #111;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
