input, select, button, textarea, label {
  appearance: none;
  background: transparent;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  overflow: visible;
}

input {
  border: solid var(--keyline-width) var(--txt-body);
  line-height: 1.3;
  min-height: 3.063rem;
  padding: calc(var(--gutter) / 2) var(--gutter);
  vertical-align: middle;
}

input[type="search"] + input, input[type="search"] + button {
  margin-left: calc(var(--keyline-width) * -1);
}
