.sortButton span {
  display: inline-block;
  font-size: 1.5em;
  line-height: 0.8;
  opacity: 0;
  transition: all 0.5s;
  transform-origin: 50% 70%;
}

.sortAscending span {
  opacity: 1;
  transform: rotate(0deg);
}

.sortDescending span {
  opacity: 1;
  transform: rotate(180deg);
}
