table {
  border-collapse: collapse;
  width: 100%;
}

caption { width: 100%; }

th, td {
  backdrop-filter: brightness(90%);
  padding: 0.25rem 0.5rem;
}

.selected {
  backdrop-filter: none;
}

@media (width < 70rem) {
  table, thead, tbody, tr, th, td {
    display: block;
    text-align: left;
  }

  tr {
    margin: 0 0 var(--gutter);
  }

  thead tr {
    backdrop-filter: brightness(90%);
    flex-wrap: wrap;
    justify-content: center;
  }

  thead th {
    backdrop-filter: none;
  }

  tbody td, tbody th, thead tr {
    display: flex;
  }

  td:before, th:before {
    content: attr(data-label);
    flex: 0 0 50%;
    font-weight: bold;
    padding: 0 var(--gutter);
    text-align: right;
  }
}
